/* Set the background of the grid if the grid has .upload-grid css class
:host(.upload-grid) {
    background-color: var(--lumo-primary-color-10pct);
}

 */
/* Set the background of the cell if the grid has .upload-grid css class
:host(.upload-grid) [part~="cell"] {
    background-color: var(--lumo-primary-color-10pct);
}

 */
/* Set the background of the cell if the cell has upload-grid css class
[part~="cell"].record {
    background-color: var(--lumo-primary-color-10pct);
}

 */